label.error{
    color:red;
    font-size:14px;
}

.ryt_innerlink label.error{
    float:right;
    font-size:14px;
}

.inner_event_img img {
    width: 100%;
    height: 240px;
}
.social_links .fa{
    font-size:23px;
}
/*li.unlike_event {
  display: none;
}*/
.message_show_div{
    max-height:500px;
}
.btn_message{
    background-color: #bcd442;
    color: #fff;
}
.inner_event_img img {
    width: 100%;
    height: 270px !important;
}

div.commnt_sctn {
  width: 100%;
}

.event_desc{
    min-height:103px;
}
.outer_post_detal img{
    width:100%;
}
.detl_post_desc p {
    clear: both;
    padding-top: 10px;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Avenir LT Std';
    margin-bottom: 0px;
}
.comment_list_new li{
    width: 100% !important;
}
.social_icon_list li{
    display: inline-block;
    width: 32% !important;
    text-align: center;
    border-bottom: none !important;

}
.social_icon_list li a img{
    height: 100px;
}
.height_100 {
    min-height: 900px;
}
.facebook:hover {
    color: #475993;
}
.google:hover {
    color: #d34836;
}
.linkedin:hover {
    color: #03a9f4;
}
.telephone:hover {
    color: #475993;
    transform: scale(1);   
}
.telephone {
    color: white;
}

.setting-text {
    margin-left: 14px;
    margin-bottom: 22px;
}

.image-size{
    width: 100px;
    height: 100px;
}

.forgot-password:hover{
    color: #475993;
}

.pull-bottom a {
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    padding: 5px 0 5px 10px;
    display: inline-block;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    left: 0 !important;
}
.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
}

.modal-body.commnt_popup {
    height: 500px;
    overflow-y: auto;
}
.privacy_links{
    color:#fff !important;
}
