body{
    margin:0px;
    padding:0px;
}
@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGarde Bk BT';
    src: url('../fonts/AvantGardeITCbyBT-Demi.eot');
    src: url('../fonts/AvantGardeITCbyBT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGardeITCbyBT-Demi.woff2') format('woff2'),
        url('../fonts/AvantGardeITCbyBT-Demi.woff') format('woff'),
        url('../fonts/AvantGardeITCbyBT-Demi.ttf') format('truetype'),
        url('../fonts/AvantGardeITCbyBT-Demi.svg#AvantGardeITCbyBT-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir 85';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sitka Heading';
    src: url('../fonts/SitkaHeading.eot');
    src: url('../fonts/SitkaHeading.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaHeading.woff2') format('woff2'),
        url('../fonts/SitkaHeading.woff') format('woff'),
        url('../fonts/SitkaHeading.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Banner';
    src: url('../fonts/SitkaBanner.eot');
    src: url('../fonts/SitkaBanner.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaBanner.woff2') format('woff2'),
        url('../fonts/SitkaBanner.woff') format('woff'),
        url('../fonts/SitkaBanner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Subheading';
    src: url('../fonts/SitkaSubheading.eot');
    src: url('../fonts/SitkaSubheading.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaSubheading.woff2') format('woff2'),
        url('../fonts/SitkaSubheading.woff') format('woff'),
        url('../fonts/SitkaSubheading.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Display';
    src: url('../fonts/SitkaDisplay.eot');
    src: url('../fonts/SitkaDisplay.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaDisplay.woff2') format('woff2'),
        url('../fonts/SitkaDisplay.woff') format('woff'),
        url('../fonts/SitkaDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Small';
    src: url('../fonts/SitkaSmall.eot');
    src: url('../fonts/SitkaSmall.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaSmall.woff2') format('woff2'),
        url('../fonts/SitkaSmall.woff') format('woff'),
        url('../fonts/SitkaSmall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Text';
    src: url('../fonts/SitkaText.eot');
    src: url('../fonts/SitkaText.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaText.woff2') format('woff2'),
        url('../fonts/SitkaText.woff') format('woff'),
        url('../fonts/SitkaText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sitka Heading';
    src: url('../fonts/SitkaHeading.eot');
    src: url('../fonts/SitkaHeading.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaHeading.woff2') format('woff2'),
        url('../fonts/SitkaHeading.woff') format('woff'),
        url('../fonts/SitkaHeading.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Banner';
    src: url('../fonts/SitkaBanner.eot');
    src: url('../fonts/SitkaBanner.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaBanner.woff2') format('woff2'),
        url('../fonts/SitkaBanner.woff') format('woff'),
        url('../fonts/SitkaBanner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Subheading';
    src: url('../fonts/SitkaSubheading.eot');
    src: url('../fonts/SitkaSubheading.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaSubheading.woff2') format('woff2'),
        url('../fonts/SitkaSubheading.woff') format('woff'),
        url('../fonts/SitkaSubheading.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Display';
    src: url('../fonts/SitkaDisplay.eot');
    src: url('../fonts/SitkaDisplay.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaDisplay.woff2') format('woff2'),
        url('../fonts/SitkaDisplay.woff') format('woff'),
        url('../fonts/SitkaDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Small';
    src: url('../fonts/SitkaSmall.eot');
    src: url('../fonts/SitkaSmall.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaSmall.woff2') format('woff2'),
        url('../fonts/SitkaSmall.woff') format('woff'),
        url('../fonts/SitkaSmall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sitka Text';
    src: url('../fonts/SitkaText.eot');
    src: url('../fonts/SitkaText.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SitkaText.woff2') format('woff2'),
        url('../fonts/SitkaText.woff') format('woff'),
        url('../fonts/SitkaText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
section.filtr_section {
    background-color: #000;
    padding: 15px 0px;
    padding-top: 110px;
    z-index: 9;
}
.filter_section_inner ul li {
    display: inline-block;
    width: 41%;
}
.filter_section_inner ul li:last-child {
    width: 17%;
}
.filed_sction select.form-control {
    height: 40px;
    font-size: 16px;
    color: rgba(0,0,0,0.55);
    -webkit-appearance: none;
    background-image: url(../images/dropdown_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 58%;
    background-size: 15px;
}
.inner_event_mainimg {
    height: 200px;
    overflow: hidden;
}
.btn_filter {
    width: 100%;
    line-height: 38px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #5da54d;
    border: none;
    color: #fff;
    font-family: 'Avenir 85';
}
.map_section img {
    width: 100%;
}
section.event_section, section.inner_linkpages, section.myprofile_section {
    background-image: url(../images/bg_img.png);
    width: 100%;
    padding: 60px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.head_evnt a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
.inner_contnt_sction {
    max-width: 740px;
    width: 100%;
    margin: 0 auto 45px auto;
}
.inner_contnt_sction h1 {
    margin-top: 0px;
    font-size: 40px;
    text-transform: uppercase;
		font-family: 'Sitka Heading';
	    color: #000;
}
.inner_contnt_sction p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Avenir LT Std';
    font-weight: normal;
}
.inner_event_img img {
    width: 100%;
}
.event_section_inner {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.inner_event_descrption {
    padding: 25px 20px;
    position: relative;
}
.inner_event_descrption h3 {
    margin-top: 0px;
    font-size: 22px;
    font-family: 'Avenir 85';
    font-weight: bold;
	text-transform: capitalize;
}
.inner_event_descrption p, .inner_event_descrption h6 {
    font-size: 18px;
    font-family: 'Avenir LT Std';
	min-height: auto;
}
.inner_event_descrption h6 img {
    margin-top: -4px;
    margin-right: 10px;
}
.inner_event_descrption h6 {
    margin: 20px 0px 25px;
}
.evnt_button ul li {
    display: inline-block;
}
.evnt_button ul li:last-child {
    float: right;
}
.evnt_button ul li a.btn_css {
    text-align: center;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    line-height: 42px;
    border-radius: 50px;
    font-family: 'Avenir 85';
    font-weight: bold;
    width: 150px;
}
a.btn_yellow {
    background-color: #ecb602;
}
a.btn_green {
    background-color: #5da54d;
}
.inner_event_img {
    position: relative;
}
.date_home {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 75px;
    background-color: #ecb602;
    left: 20px;
    text-align: center;
    padding: 10px;
}
.date_home h3 {
    margin: 5px 0px 0px 0px;
    font-family: 'Avenir 85';
}
.date_home p {
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Avenir 85';
}
section.how_wrks_sction.event_section {
    background-image: unset;
    background-color: #f0f2f3;
}

.wrk_section_outer h3 {
    font-weight: bold;
	 font-family: 'Sitka Subheading';
}
.how_work_des p {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    line-height: 22px;
}
.view_more{
    margin-top: 20px;
}
.btn_more, .btn_more:hover, .btn_more:focus {
    max-width: 290px;
    line-height: 49px;
    width: 100%;
    border-radius: 50px;
    font-size: 21px;
    color: #fff;
    font-family: 'Avenir 85';
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.44);
    background: rgba(91,164,65,1);
    background: -moz-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(91,164,65,1)), color-stop(100%, rgba(114,172,194,1)));
    background: -webkit-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -o-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -ms-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: linear-gradient(to right, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba441', endColorstr='#72acc2', GradientType=1 );
}
section.footer_section {
    background-color: #000000;
    padding: 50px 0px 30px 0px;
    color: #fff;
}
section.footer_section h3 {
    margin-top: 0px;
    margin-bottom: 25px;
	  font-family: 'Sitka Subheading';
    font-weight: bold;
}
section.footer_section p {
    line-height: 20px;
    font-size: 16px;
    max-width: 90%;
    width: 100%;
    font-family: 'Avenir LT Std';
}
.footer_inner ul li {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}
section.footer_section .copyright_text{
    margin-bottom: 0px;
    border-top: 1px solid #fff;
    max-width: unset;
    padding-top: 20px;
    font-size: 14px;
    margin-top: 15px;
}
.footer_inner ul.social_links li {
    display: inline-block;
    margin-right: 15px;
}
.footer_inner ul.social_links li a {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: block;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_inner ul.social_links li a i.fa.fa-facebook, .footer_inner ul.social_links li a i.fa-google-plus, .footer_inner ul.social_links li a i.fa-twitter{
    font-size: 28px;
}
.footer_inner ul.social_links li a i.fa-google-plus {
    color: #d34836;
}
.footer_inner ul.social_links li a i.fa.fa-facebook {
    color: #475993;
}
.footer_inner ul.social_links li a i.fa-twitter {
    color: #03a9f4;
}
.heart {
    background-image: url(../images/filled_heart.png);
}
.hert_like {
    position: absolute;
    bottom: -20px;
    right: 20px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.28);
}
.plus, .heart {
    background-image: url(../images/unfilled_heart.png);
    width: 30px;
    background-repeat: no-repeat;
    background-size: initial;
    height: 26px;
}
.plus.minus, .plus.heart.minus{
    background-image: url("../images/filled_heart.png");
    width: 30px;
    background-repeat: no-repeat;
    background-size: initial;
    height: 26px;
}
.heart{
    background-image: url("../images/unfilled_heart.png");
}
.plus.heart.minus{
    background-image: url("../images/filled_heart.png");
}
.how_wrk_img img {
    width: 145px;
    height: 145px;
}
.inner_linkouter {
    float: left;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    border-radius: 10px;
}
section.inner_linkpages {
    padding: 150px 0px 80px 0px;
}
.ryt_innerlink {
    max-width: 410px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 20px;
    position: relative;
}
.ryt_innerlink h2 {
    margin-top: 0px;
    text-transform: uppercase;
	 font-weight: bold;
    font-family: 'Sitka Subheading';
    color: #000;
}
.inner_topsection ul {
    margin: 30px 0px;
}
.inner_topsection ul li {
    display: inline-block;
    margin-right: 10px;
}
.inner_topsection ul li a {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 1px 0px 6px rgba(0,0,0,0.28);
            box-shadow: 1px 0px 6px rgba(0,0,0,0.28);
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
}
.inner_topsection p {
    font-size: 18px;
    color: rgba(0,0,0,0.60);
    margin-bottom: 30px;
    font-family: 'Avenir LT Std';
}
.ryt_innerlink label {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    margin-bottom: 10px;
}
.ryt_innerlink input.form-control, .creteprofile_inner select.form-control{
    background-color: #f4f4f4;
    border: none;
    height: 45px;
    font-size: 18px;
    color: rgba(0,0,0,0.60);
    box-shadow: unset;
    font-family: 'Avenir LT Std';
}
.ryt_innerlink h5{
    margin: 30px 0px;
}

.ryt_innerlink h5 a {
    font-size: 18px;
    color: #000;
    font-family: 'Avenir LT Std';
    text-decoration: underline;
    font-weight: bold;
}
.ryt_innerlink .btn_more {
    line-height: 33px;
    height: 45px;
    max-width: 205px;
    font-size: 18px;
    text-transform: uppercase;
}
.paddg_0_left {
    padding: 0px;
}
.left_innerlink {
    background-image: url(../images/login_bg.png);
    background-repeat: no-repeat;
   background-size: auto;
}
.left_innlinkcontnt {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.left_innlinkcontnt {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px 20px;
    color: #fff;
}
.left_innlinkcontnt p {
    font-size: 18px;
    font-family: 'Avenir LT Std';
}
.left_innlinkcontnt h2 {
    margin-top: 0px;
    font-size: 32px;
    text-transform: uppercase;
	  font-weight: bold;
    font-family: 'Sitka Subheading';
}
.left_innlinkcontnt .left_innerbtn {
    display: block;
    max-width: 182px;
    height: 42px;
    background: #70abb4;
    width: 100%;
    border-radius: 50px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'Avenir 85';
    margin-top: 30px;
}
section.inner_linkpages.crete_accunt .ryt_innerlink {
    padding: 20px 0px;
}
section.inner_linkpages.crete_accunt .innerryt_linkbtn {
    margin-top: 30px;
}
.forgot_pswd .ryt_innerlink {
    padding: 130px 0px;
}
.map_area_conct img {
    width: 100%;
}
.left_contct h2 {
    font-size: 36px;
	  font-family: 'Sitka Subheading';
    font-weight: bold;
    color: #000;
}
.left_contct p {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0px 30px 0px;
    font-family: 'Avenir LT Std';
}
.left_contct h4 {
    font-size: 26px;
    margin-bottom: 20px;
	font-family: 'Sitka Subheading';
    font-weight: bold;
    color: #000;
}
.conct_leftadd {
    max-width: 360px;
}
.conct_leftadd ul li {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Avenir LT Std';
    margin-bottom: 12px;
}
.contact_outer {
    float: left;
    width: 100%;
    padding: 30px 0px;
}
.conct_leftadd ul li i {
    float: left;
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
    font-size: 20px;
}
.ryt_contctform.ryt_innerlink {
    margin-top: -150px;
    top: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    background: #fff;
    max-width: 100%;
    border-radius: 8px;
    
    margin-bottom: 60px;
}
.ryt_contctfrm_inner {
    max-width: 390px;
    margin: 0 auto;
    width: 100%;
}
.ryt_contctfrm_inner h2 {
    margin-bottom: 35px;
	 font-family: 'Sitka Subheading';
    font-weight: bold;
    color: #000;
}
.ryt_contctfrm_inner textarea{
    background-color: #f4f4f4;
    border: none;
    height: 100px;
    font-size: 18px;
    color: rgba(0,0,0,0.60);
    box-shadow: unset;
    font-family: 'Avenir LT Std';
    resize:unset;
}
.ryt_contctfrm_inner .innerryt_linkbtn{
    margin-top: 40px;
}
.creteprofile_inner {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    padding: 50px;
}
.creteprofile_inner h3{
    margin-top: 0px;
    text-transform: uppercase;
      font-size: 30px;
    font-weight: bold;
    font-family: 'Sitka Subheading';
    color: #000;
}
.creteprofile_inner {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    padding: 50px;
    max-width: 100%;
}
.creteprofile_inner .innerryt_linkbtn {
    margin-top: 30px;
}
.upload_img {
    padding: 30px 0px 50px 0px;
}
.upload_img .avatar-upload {
    position: relative;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
}
.upload_img .avatar-upload .avatar-edit {
  z-index: 1;
      text-align: center;
}
.upload_img .avatar-upload .avatar-edit input {
  display: none;
}
.upload_img .avatar-upload .avatar-edit input + label, .upload_img .avatar-upload .avatar-edit input + label:hover {
    display: inline-block;
    max-width: 128px;
    height: 36px;
    margin:30px 0px 0px;
    background: #70abb4;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Avenir 85';
}
.upload_img .avatar-upload .avatar-edit input + label:after {
  color: #757575;
  text-align: center;
  margin: auto;
}
.upload_img .avatar-upload .avatar-preview {
  width: 170px;
  height: 170px;
  position: relative;
  border-radius: 50px;
}
.upload_img .avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.upload_img.edt_prof .avatar-upload .avatar-edit input + label, .upload_img.edt_prof .avatar-upload .avatar-edit input + label:hover {
    max-width: unset;
}
section.event_detail_section {
    background: rgba(91,164,65,1);
    background: -moz-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(91,164,65,1)), color-stop(100%, rgba(114,172,194,1)));
    background: -webkit-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -o-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: -ms-linear-gradient(left, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    background: linear-gradient(to right, rgba(91,164,65,1) 0%, rgba(114,172,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba441', endColorstr='#72acc2', GradientType=1 );
    padding: 55px 0px;
}
.event_detail_outer {
    float: left;
    width: 100%;
}
.evnt_detl_img img {
    width: 100%;
    border: 7px solid #fff;
}
.evnt_detl_img {
    position: relative;
}
.like_count {
    position: absolute;
    bottom: 7px;
    background-color: #ecb602;
    width: 74px;
    height: auto;
    text-align: center;
    left: 25px;
}
.like_count h4 {
    font-size: 20px;
    font-family: 'Avenir 85';
}
.like_count h6 i {
    font-size: 21px;
}
.event_detl_info{
    color: #fff;
    font-family: 'Avenir 85';
}
.event_detl_info h2 {
    margin-top: 0px;
    font-size: 26px;
}
.event_detl_info h4 {
    font-size: 20px;
    margin-top: 5px;
}
.event_detl_info h5 {
    font-size: 18px;
    font-family: 'Avenir LT Std';
}
.addres_info_evnt>ul>li {
    margin-bottom: 21px;
}
.review_top ul li {
    display: inline-block;
    font-size: 20px;
    color: #ecb602;
}
.review_top {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.artst_imgs img {
    width: 100%;
}
.review_top span, .review_top span .btn {
    font-size: 16px;
    font-family: 'Avenir LT Std';
    color:#fff;
}
.review_top span{
    margin-left: 10px;
}
.review_top span .btn {
    padding-left: 8px;
    padding-top: 3px;
}
.socl_btn li {
    display: inline-block;
}
.btn_top {
    width: 100px;
    border-radius: 50px;
    height: 33px;
    border: none;
    font-size: 14px;
    font-family: 'Avenir 85';
}
.btn_red{
    background-color: #e10404;
}
.btn_blue{
    background-color: #429bd4;
}
.btn_top i {
    font-size: 16px;
    margin-right: 8px;
}
.socl_btn {
    margin-top: 25px;
}
.btn_tickt {
    width: 215px;
    height: 45px;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #ecb602;
    border: none;
    font-size: 18px;
    color: #000;
    font-family: 'Avenir 85';
    box-shadow: 1px 0px 4px rgba(0,0,0,0.24);
    margin-top: 25px;
    line-height: 34px;
}
.bottom_descption_evnt h3, .artist_ryt h3 {
    margin-top: 0px;
    font-family: 'Avenir 85';
    margin-bottom: 20px;
}
.descptn_sctn p {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    line-height: 25px;
}
.commnt_sctn {
    border-top: 1px solid rgba(0,0,0,0.20);
    padding: 30px 0px;
    margin-top: 35px;
}
.cmnt_here textarea, .feedck_sction_bottom.artist_ryt textarea {
    border: none;
    font-family: 'Avenir LT Std';
    box-shadow: none;
    background-color: #f4f4f4;
    height: 150px;
    resize: unset;
    font-size: 18px;
    color: rgba(0,0,0,0.60);
    padding: 20px;
}
.cmnt_here {
    margin: 30px 0px 10px 0px;
}
section.bottom_sction_detal_evnt {
    padding: 40px 0px 50px 0px;
}
.artist-img p {
    font-size: 14px;
    font-family: 'Avenir 85';
    margin-bottom: 20px;
}
.artist_ryt ul li {
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 11px;
}
.artst_imgs {
    width: 112px;
    height: 112px;
    overflow: hidden;
}
.artist_ryt ul li:nth-child(3) {
    margin-right: 0px;
    width: 31%;
}
.padding_0r{
    padding-right: 0px;
}
.revw_detl_thumb {
    display: inline-block;
    float: left;
    width: 100%;
}
.revw_thumb_img {
    display: inline-block;
    float: left;
}
.revw_thumb_img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.ryt_info_detl {
    float: right;
    width: 85%;
}
.revw_thumb_img {
    display: inline-block;
    float: left;
    width: 12%;
}
.head_evnt, .bottom-revews_detl, .revews_detl_inner, .revews_detl_inner ul , .revews_detl_inner ul li {
    float: left;
    width: 100%;
}
.bottom-revews_detl h3 {
    float: left;
    margin-bottom: 0px;
}
.head_evnt span {
    float: right;
    font-size: 16px;
    font-family: 'Avenir 85';
    color: rgba(0, 0, 0, 0.80);
}
.ryt_info_detl p {
    clear: both;
    padding-top: 10px;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Avenir LT Std';
    margin-bottom: 0px;
}
.revews_detl_inner > ul > li {
    padding: 30px 30px;
	    border-bottom: 1px solid rgba(0,0,0,0.20);
}
.revews_detl_inner ul li:last-child{
    border-bottom:none;
}
.noti {
    margin-bottom: 30px;
}
.noti h1 {
    text-transform: uppercase;
    font-family: 'Sitka Subheading';
    color: #000;
    font-weight: normal;
}
.bottom-revews_detl {
    padding-bottom: 50px;
}
.review_popup .modal-dialog{
    max-width: 676px;
    width: 100%;
}
.review_popup .bottom_descption_evnt h3 {
    font-size: 20px;
}
.review_popup .modal-body{
    float:left;
    width:100%;
}
.review_popup .modal-footer {
    clear: both;
    border: none;
    text-align: center;
    padding: 5px 0px 50px 0px;
}
.review_popup .btn_more {
    max-width: 206px;
    height: 45px;
    line-height: 30px;
    font-size: 18px;
}
.review_popup .view_more {
    margin-top: 0px;
}
.review_popup .modal-header {
    border: none;
    padding: 30px 0px 0px 0px;
}
.review_popup .modal-header h4 {
    text-transform: uppercase;
    font-size: 30px;
	   font-weight: bold;
    font-family: 'Sitka Heading';
    color: #000;
}
.review_popup .modal-content {
    border-radius: 10px;
}
.review_popup button.close {
    font-size: 60px;
    color: #fff;
    position: absolute;
    right: -42px;
    opacity: 1;
    top: -27px;
    font-weight: 500;
    font-family: 'Avenir LT Std';
}
.user_profile_info ul li {
    display: inline-block;
}
.user_profile_info ul li a {
    width: 29px;
    height: 29px;
    -webkit-box-shadow: 1px 0px 6px rgba(0,0,0,0.28);
            box-shadow: 1px 0px 6px rgba(0,0,0,0.28);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#000;
}
.prof_top_img img {
    width: 100%;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    z-index: 9;
}
.user_profile_info h3 {
    font-weight: bold;
    margin-bottom: 18px;
    font-family: 'Avenir 85';
	text-transform: capitalize;
}
.user_profile_info p {
    font-size: 18px;
    margin-bottom: 55px;
    font-family: 'Avenir LT Std';
    position: relative;
    padding-bottom: 15px;
}
.user_profile_info p::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 200px;
    background: rgba(0,0,0,0.20);
    bottom: -22px;
    margin: 0 auto;
    text-align: center;
    left: 0px;
    right: 0px;
}
.user_profile_info table th {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    border: none!important;
}
.user_profile_info table td {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Avenir LT Std';
    text-align: left;
    width: 50%;
    border: none!important;
}
.left_myprofile {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
}
.user_profile_info.text-center {
    padding: 0px 20px 1px 20px;
}
.post_img img {
    width: 100%;
}
.profile_post_listng {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}
.profile_post_listng>ul {
    padding: 0px 20px;
}
.profile_post_listng>ul>li {
    padding: 10px 0px;
}
.profile_post_listng>ul>li span {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    color: rgba(0, 0, 0, 0.70);
}
.profile_post_listng>ul>li .ryt_info_detl p {
    padding-top: 0px;
}
.profile_post_listng>ul>li .ryt_info_detl {
    margin-top: 10px;
}
.post_commt_profl.cmnt_here textarea {
    height: 65px;
}
.post_commt_profl.cmnt_here {
    padding: 25px;
    margin: 0px;
}
.post_commt_profl.cmnt_here ul {
    float: right;
    width: auto;
}
.post_commt_profl.cmnt_here ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    margin-right: 30px;
}
.post_commt_profl.cmnt_here ul li:last-child{
    margin-right: 0px;
}
.post_commt_profl.cmnt_here ul li a {
    color: #000;
    font-size: 24px;
    display: block;
    margin-top: -6px;
}
.post_commt_profl.cmnt_here ul li a i{
    margin-right: 10px;
}
.post_commt_profl.cmnt_here a, .post_commt_profl.cmnt_here ul li span, .post_commt_profl.cmnt_here h3 span {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    color: #000;
}
.cmmnt_area {
    clear: both;
    padding-top: 25px;
}
.bottom-revews_detl.profile_post_listng.revews_detl_inner {
    margin-bottom: 30px;
}
.tab_section_left ul li {
    width: 100%;
}
.tab_section_left, .tab_cntnt_ryt {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
}
.tab_section_left ul li a {
    border-bottom: 1px solid rgba(0,0,0,0.20);
    font-size: 22px;
    font-family: 'Avenir LT Std';
    line-height: 53px;
    color: #000;
}
.tab_section_left .nav-tabs>li.active>a, .tab_section_left .nav-tabs>li.active>a:hover, .tab_section_left .nav-tabs>li.active>a :focus {
    background-color: #5da64d;
    border: none;
    color:#fff;
    font-family: 'Avenir 85';
}
section.setting_section {
    padding: 80px 0px;
}
.tab_cntnt_ryt h3 {
    margin: 0px;
    padding: 10px;
    background: #5da64d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 53px;
    color: #fff;
    font-family: 'Avenir 85';
    padding-left: 28px;
}
/* radio css */
 .radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.profile_post_listng h3, .profile_post_listng ul li .ryt_info_detl h3 a{
    margin-top: 0px;
    font-family: 'Avenir 85';font-size: 20px;
}
.radio input[type="radio"] + .radio-label:before {
      content: '';
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid #b4b4b4;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 6px;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #61a851;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #61a851;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
 .radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

/* radio css */
.notfctn_countr p {
    font-size: 22px;
    font-family: 'Avenir LT Std';
    margin-bottom: 0px;
}
.notfctn_countr .radio {
    display: inline-block;
    margin: 0px;
}
.notfctn_countr label.radio-label {
    font-size: 22px;
    font-family: 'Avenir LT Std';
}
.tab_cntnt_ryt, .tab_cntnt_ryt .tab-content, .tab_cntnt_ryt .tab-pane, .tab_cntnt_ryt .inner_notifctn, .tab_cntnt_ryt .notfctn_countr, .seetg_all_full{
    float: left;
    width: 100%;
}
.tab_cntnt_ryt .notfctn_countr {
    padding: 20px;
}
.tab_cntnt_ryt .radio_labl {
    text-align: right;
}
.seetg_all_full {
    min-height: 400px;
    margin-top: 50px;
}
.inner_abt_sctn {
    padding: 30px;
}
.inner_abt_sctn h4 {
    margin-top: 0px;
    font-family: 'Avenir 85';
    font-size: 20px;
}
.inner_abt_sctn p {
    font-size: 18px;
    margin: 0px;
    font-family: 'Avenir LT Std';
}
.inner_abt_sctn ul li {
    margin-bottom: 25px;
}
.inner_abt_sctn ul li:last-child{
    margin-bottom: 0px;
}
.chng_pswd_sctn {
    max-width: 450px;
    margin: 60px auto 60px auto;
    width: 100%;
    min-height: 350px;
}
.chng_pswd_sctn h4 {
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Avenir 85';
    line-height: 28px;
    margin-bottom: 30px;
}
.chng_pswd_sctn label {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    font-weight:normal;
}
.chng_pswd_sctn h5{
    margin: 30px 0px;
}
.chng_pswd_sctn h5 a {
    font-size: 18px;
    color: #000;
    font-family: 'Avenir LT Std';
}
.chng_pswd_sctn .btn_more {
    height: 45px;
    max-width: 206px;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 18px;
}
.block_sctn_inner .block_btn, .follw_btn .block_btn, .btn_othr_prfol .block_btn {
    background-color: #5da54d;
    max-width: 142px;
    height: 38px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    border-radius: 50px;
    font-family: 'Avenir 85';
    text-transform:uppercase;
    line-height: 8px;
}
.block_sctn_inner ul li {
    display: inline-block;
    width: 19%;
}
.blck_mbr_img img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}
.block_sctn_inner {
    min-height: 450px;
    padding: 40px;
}
.block_sctn_inner p {
    font-size: 20px;
    font-family: 'Avenir LT Std';
    margin: 12px 0px 20px 0px;
}
.tab_section_left {
    margin-bottom: 30px;
}
section.myprofile_section.news_fed_sctn {
    background-image: unset;
        padding-top: 150px;
}
.commnt_area_below{
    display:block;
}
/* header css */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 95px;
    right: 0;
    background-color: #5da54d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.34);
}
.sidenav ul li a {
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
    font-family: 'Avenir LT Std';
    opacity: 0.8;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
}
.headr_innr .btn_othr_prfol ul li:nth-child(1) {
    margin-right: 0px;
}
.sidenav ul li a img {
    margin-right: 20px;
}
/* header end */

.bottom_descption_evnt{
    float:left;
    width:100%;
}
.bottom_descption_evnt .btn_more {
    line-height: 31px;
    max-width: 206px;
    font-size: 18px;
}
.bottom_descption_evnt .commnt_sctn{
    float: middle;
}
.bottom_descption_evnt .view_more {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.message_listbox {
    position: absolute;
    left: 0;
    width: 370px;
    bottom: 0;
    top: 65px;
    overflow: auto;
    background: #fff;
    z-index: 1;
    border-right: 1px solid rgba(0,0,0,0.20);
}
.message_listbox ul li:last-child {
    border: none;
}
.message_listbox ul li {
    position: relative;
    padding: 20px 10px 20px 110px;
    min-height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
}
.message_listbox ul li img {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 21px;
    left: 15px;
    border-radius: 100%;
}
.message_listbox ul li:hover, .message_listbox ul li.active {
    background: rgba(61, 128, 12, 0.2);
}
.height100 {
    height: 100%;
}
.chat_box {
    padding: 15px;
    overflow: auto;
}
.messages_boxslist {
    background: #fff;
    position: relative;
    padding-left: 370px;
    padding-bottom: 55px;
    min-height: 600px;
}
.message_page .white_box {
    padding-top: 65px;
    position: relative;
}
section.message_page.inner_height {
    min-height: 700px;
}
.write_messagebox {
    background: #efefef;
    height: 67px;
    border-top: 1px solid #e1e1e1;
    position: absolute;
    bottom: 0;
    left: 370px;
    right: 0;
    padding: 10px 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.message_input {
    border: 1px solid #b1b1b1;
    width: 100%;
    min-height: 38px;
    border-radius: 50px;
    padding: 0px 20px;
}
.write_messagebox a {
    position: absolute;
    right: 44px;
    color: #000;
    top: 24px;
    font-size: 16px;
}
.message_bubble {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #000;
    font-size: 18px;
    font-family: 'Avenir LT Std';
    padding: 8px 14px;
    border-radius: 5px;
    line-height: 38px;
    margin-top: 8px;
    position: relative;
    text-align: left;
}
.right_chatbox .message_bubble {
    background: rgba(93, 166, 77, 0.2);
    color: #000;
    border-color: transparent;
}
.message_bubble::after {
    position: absolute;
    left: -16px;
    top: 14px;
    border-top: 12px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 8px solid #f5f5f5;
    content: "";
}
.right_chatbox .message_bubble::after {
    left: inherit;
    right: -16px;
    border-left: 8px solid #dfdfdf;
    border-right: 8px solid transparent;
}
.chatbox_outer {
    display: inline-block;
    text-align: right;
    max-width: 90%;
    min-width: 323px;
}
.right_chatbox {
    padding-left: 0;
    padding-right: 70px;
    text-align: right;
}
span.message_time {
    font-size: 16px;
    color: #797979;
    margin-top: 10px;
    display: block;
}
.message_listbox h5 {
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Avenir 85';
    margin-bottom: 2px;
}
.message_listbox h6 {
    font-size: 16px;
    color: rgba(0,0,0,0.60);
    font-family: 'Avenir 85';
    margin-top: 0px;
    margin-bottom: 5px;
}
.message_listbox p {
    font-size: 18px;
    font-family: 'Avenir LT Std';
    margin: 0px;
}
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 1px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}
/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.10);
}
.flowers_listng ul {
    position: relative;
}
.flowers_listng ul li {
    float: left;
}
.flowers_listng ul li:last-child {
    float: right;
}
.flowers_listng ul li h3 {
    font-size: 20px;
    margin-bottom: 0px;
}
.flowers_listng ul li h5 {
    font-size: 18px;
    color: rgba(0,0,0,0.80);
    font-family: 'Avenir LT Std';
}
.abs_cnter img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: -65px;
	z-index: 99;
    position: relative;
    margin-bottom: 20px;
}
.btn_othr_prfol .block_btn {
    width: 150px;
    height: 45px;
}
.btn_othr_prfol{
    margin-bottom: 50px;
}
.btn_othr_prfol ul li:nth-child(1) {
    margin-right: 15px;
}
.block_btn:hover{
    color:#fff;
}
.add_post_sction {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    padding: 25px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.add_post_sction h3 {
    margin: 0px 0px 20px 0px;
    font-family: 'Avenir 85';
}
.add_post_sction .form-control {
    height: 45px;
    background: #f4f4f4;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    font-family: 'Avenir LT Std';
}
.add_post_sction textarea.form-control {
    height: 95px;
    resize: unset;
}
.add_post_sction .btn_othr_prfol {
    margin-bottom: 0px;
}
.img_fed_btn {
    float: left;
    width: 100%;
    margin-top: 10px;
}
section.haeder_main {
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    max-height: 95px;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.haeder_main .navbr_home {
    min-height: auto;
    margin-bottom: 0px;
    background: transparent;
    border: none;
}
.haeder_main .navbar-brand img {
    width: 100%;
}
.haeder_main a.navbar-brand {
    padding: 0px;
    height: unset;
    float: left;
    line-height: unset;
    background-color: #5da54d;
}
.haeder_main .btn_othr_prfol {
    margin: 16px 0px 0px 0px;
}
.haeder_main .btn_othr_prfol .block_btn, .haeder_main .btn_othr_prfol .block_btn:hover, .haeder_main .btn_othr_prfol .block_btn:focus {
    width: 123px;
    height: 40px;
    text-transform: inherit;
    font-size: 18px;
    background-color: #5da54d;
    color: #fff;
}
.btn_othr_prfol .btn_blush, .haeder_main .btn_othr_prfol .block_btn.btn_blush:hover, .haeder_main .btn_othr_prfol .block_btn.btn_blush:hover, .haeder_main .btn_othr_prfol .block_btn.btn_blush {
    background-color: #70abb4;
}
.secrh_filed {
    margin: 22px 0px 0px 40px;
}
.secrh_filed .form-control {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-family: 'Avenir LT Std';
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 28px 27px;
    padding-left: 44px;
    background-position: left;
}   
.sidenav ul li a:hover, .sidenav ul li.active a:hover, .sidenav ul li.active a {
    font-weight: bold;
    opacity: 1;
}
section.message_page.inner_height {
    padding: 90px 0px;
}
section.myprofile_section, section.setting_section, section.fav_sctn_iner {
    padding-top: 150px;
}
input#file-5{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.footer_inner ul.social_links li a:hover{
    text-decoration:none;
}
section.event_detail_section {
    padding-top: 145px;
}
.notfctn_sction .bottom-revews_detl h3 {
    margin: 0px;
}
.notfctn_sction .bottom-revews_detl .revw_thumb_img {
    width: auto;
}
.notfctn_sction .bottom-revews_detl .ryt_info_detl {
    width: 90%;
}
.artist_ryt {
    clear: both;
    float: left;
    width: 100%;
}
.str_sctn .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    float: left;
    margin-top: 15px;
}
.str_sctn .hide {
  display: none;
}
.str_sctn .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    float: left;
    margin: 0px 0px 20px 0px;
}

.str_sctn .rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    padding-right: 5px;
    cursor: pointer;
    color: #000;
    font-size: 38px;
}

.str_sctn .rating > label:hover,
.str_sctn .rating > label:hover ~ label,
.str_sctn .rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.str_sctn .rating > label:hover:before,
.str_sctn .rating > label:hover ~ label:before,
.str_sctn .rating > input.radio-btn:checked ~ label:before,
.str_sctn .rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
.feedck_sction_bottom.artist_ryt {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.05);
    margin-top: 20px;
}
.feedck_sction_bottom.artist_ryt h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    padding-bottom: 14px;
}
.feedck_sction_bottom.artist_ryt h5 {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Avenir 85';
}
.feedck_sction_bottom.artist_ryt textarea {
    border: 1px solid rgba(0,0,0,0.20);
    background: #fff;
}
.feedck_sction_bottom.artist_ryt .view_more{
    margin-top: 20px;
}
h3.setting-text{
	 margin-bottom: 20px;
    font-family: 'Sitka Heading';
    font-size: 30px;
    color: #000;
}
button.btn:focus, button.btn:active:focus {
    outline: unset;
}
.bottom_descption_evnt .commnt_sctn button.btn.btn_more {
    margin: 20px 0px;
    float: left!important;
}
a:hover, a:focus{
	text-decoration:none;
}
.post_img video {
    width: 100%;
}
section.myprofile_section.news_fed_sctn .post_img, .post_img_singls img, .myprofile_section .post_img{
    clear: both;
}
.post_img_singls{
height:400px;
overflow:hidden;
}
.usr_prfle_imgs{
overflow:hidden;
height:250px;
}
.post_commt_profl.cmnt_here ul >li:nth-child(2) {
    margin-right: 0px;
}
.post_commt_profl.cmnt_here ul li a.share_btn {
    margin-right: 0px;
	 position: relative;
}
.wrk_section_outer .wrk_sctn_inner {
    display: inline-block;
    width: 20%;
    float: left;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* header css */
@media (max-width:1299px){
	.wrk_section_outer .wrk_sctn_inner .how_work_des {
		padding: 0px 20px;
	}
	.wrk_section_outer h3 {
		font-size: 20px;
	}
}
@media (max-width:1266px){
    .evnt_button ul li a.btn_css {
        font-size: 14px;
        padding: 0px 12px;
        width: unset;
    }
    .inner_event_descrption h3 {
        font-size: 18px;
    }
    .inner_event_descrption p, .inner_event_descrption h6 {
        font-size: 15px;
    }
    .tab_section_left ul li a, .tab_cntnt_ryt h3 {
        font-size: 18px;
        line-height: 40px;
    }
    .notfctn_countr p, .notfctn_countr label.radio-label{
        font-size: 20px;
    }
    .block_sctn_inner p, .inner_abt_sctn p {
        font-size: 16px;
    }
    .block_sctn_inner {
        padding: 30px;
    }
    .chng_pswd_sctn h4, .inner_abt_sctn h4{
        font-size: 18px;
    }
    .inner_abt_sctn h4 {
        line-height: 24px;
    }
    .sidebar{    
        width: 370px;
    }
    .abs_cnter img {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }
    section.banner_conctus {
        padding-top: 96px;
    }
    .add_post_sction .btn_othr_prfol.pull-right {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}
@media (max-width:1199px){
	.user_profile_info table th, .user_profile_info table td {
		font-size: 16px;
	}
	.user_profile_info .btn_othr_prfol ul li a, .user_profile_info .btn_othr_prfol ul li button {
		width: 115px;
	}
	.left_innlinkcontnt {
		padding: 0px 20px;
	}
	.wrk_section_outer h3 {
		font-size: 21px;
	}
	.how_work_des p {
		font-size: 17px;
	}
	.wrk_section_outer .wrk_sctn_inner {
		width: 33%;
		height: 300px;
	}
}
@media (max-width:1023px){
    .evnt_button ul li a.btn_css {
        width: 115px;
        font-size: 12px;
    }
    .sidebar {
        width: 290px;
    }
    .evnt_detl_img {
        margin-bottom: 20px;
    }
    .ryt_innerlink h2 {
        font-size: 24px;
    }
    .left_innlinkcontnt h2 {
        font-size: 22px;
    }
    .left_innlinkcontnt p {
        font-size: 16px;
    }
    .left_innlinkcontnt {
        padding: 0px 30px;
    }
    .left_contct h2, .left_contct h4 {
        font-size: 22px;
    }
   .left_contct p {
		margin: 5px 0px 20px 0px;
	}
	.conct_leftadd ul li, .left_contct p{		
		font-size: 16px;
	}
    .left_myprofile {
        margin-bottom: 30px;
    }
    .btn_othr_prfol ul {
        text-align: left;
        margin-top: 30px;
    }
    .btn_othr_prfol.inner_menu ul{
        margin-top: 0px;
    }
    .haeder_main ul.nav.navbar-nav {
        margin-top: 0px;
    }
}
@media (max-width:991px){
    .filter_section_inner ul li {
        display: inline-block;
        width: 40%;
    }
    .notfctn_sction .bottom-revews_detl .ryt_info_detl {
        width: 85%;
    }
    .notfctn_sction .bottom-revews_detl .revw_thumb_img {
        margin-right: 15px;
    }
    .padding_0r {
        padding-right: 15px;
    }
	.user_profile_info .btn_othr_prfol ul{
		    text-align: center;
	}
	.wrk_section_outer .wrk_section_outer {
		margin-bottom: 40px;
	}
	section.how_wrks_sction.event_section {
		padding-bottom: 20px;
	}
	.wrk_section_outer .wrk_sctn_inner {
		width: 50%;
	}
}
@media (max-width:767px){
    section.event_section {
        padding: 60px 20px;
    }
    .inner_contnt_sction h1 {
        font-size: 24px;
    }
    .inner_contnt_sction p {
        font-size: 16px;
        line-height: 25px;
    }
    .wrk_section_outer h3{
        font-size: 18px;
    }
    .how_work_des p {
        font-size: 16px;
    }
    .wrk_section_outer {
        margin-bottom: 25px;
    }
    .evnt_button ul li a.btn_css {
        width: auto;
        padding: 0px 16px;
    }
    .btn_more {
        max-width: 200px;
        line-height: 38px;
        font-size: 18px;
    }
    .footer_inner {
        margin-bottom: 30px;
    }
    section.footer_section .copyright_text {
        margin-top: 0px;
    }
    .filter_section_inner ul li {
        margin-bottom: 15px;
    }
    .filter_section_inner ul li:last-child, .filter_section_inner ul li {
        width: 100%;
    }
    .filter_section_inner ul li:last-child{
        margin-bottom: 0px;
    }
    .block_sctn_inner ul li {
        width: 45%;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .inner_abt_sctn h4 {
        line-height: 22px;
        font-size: 16px;
    }
    .chng_pswd_sctn {
        padding: 30px;
    }
    .chng_pswd_sctn h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .tab_cntnt_ryt .notfctn_countr {
        padding: 10px 0px;
    }
    .tab_cntnt_ryt .radio_labl {
        text-align: left;
    }
    .notfctn_countr .col-md-7.col-sm-7.text-center {
        text-align: left;
    }
    .notfctn_countr label.radio-label {
        padding-left: 0px;
    }
    .notfctn_countr .radio:last-child {
        padding-left: 30px;
    }
    .notfctn_countr p, .notfctn_countr label.radio-label {
        font-size: 18px;
    }
    .radio input[type="radio"] + .radio-label:before {
        top: 3px;
    }
    .notfctn_countr p {
        margin-bottom: 10px;
    }
    section.footer_section h3 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .sidebar {
        width: 250px;
        top: 71px;
    }
    section.header.header_inner {
        height: 71px;
    }
    #main {
        padding: 10px;
    } 
    .openbtn img {
        width: 35px;
    }
    .message_listbox, .messages_boxslist {
        position: unset;
        width: 100%;
        padding-left: 0px;
        border: 1px solid rgba(0,0,0,0.20);
        margin-top: 30px;
    }   
    .write_messagebox {
        left: 0px;
    }
    section.message_page.inner_height {
        margin-bottom: 100px;
    }
    .chatbox_outer {
        min-width: 100%;
    }
    .right_chatbox {
        padding-right: 0px;
    }
    .message_listbox h5, .message_listbox p{
        font-size: 16px;
    }
    .message_bubble {
        font-size: 16px;
        line-height: 30px;
    }
    .event_detl_info h2, .bottom_descption_evnt h3, .artist_ryt h3{
        font-size: 20px;
    }
    .event_detl_info h5, .event_detl_info h4,.btn_tickt, .btn_tickt, .ryt_info_detl p, .descptn_sctn p {
        font-size: 16px;
    }
    .artist_ryt {
        float: left;
        width: 100%;
        margin-top: 30px;
    }   
    .ryt_info_detl {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .review_popup .modal-dialog {
		margin: 100px auto 0px auto;
		padding: 0px 50px;
	}
    .review_popup .modal-header h4, .creteprofile_inner h3{
        font-size: 25px;
    }
    .revews_detl_inner>ul>li {
        padding: 20px 0px;
    }
    .ryt_innerlink h2, .user_profile_info h3 {
        font-size: 20px;
    }
    .ryt_innerlink label, .ryt_innerlink input.form-control, .creteprofile_inner select.form-control, .inner_topsection p {
        font-size: 16px;
    }
    .creteprofile_inner{
        padding:30px;
    }
    .left_contct p, .conct_leftadd ul li, .user_profile_info p, .user_profile_info table th, .post_commt_profl.cmnt_here a, .post_commt_profl.cmnt_here h3 span, 
    .post_commt_profl.cmnt_here ul li span, .user_profile_info table td, .profile_post_listng>ul>li span{
        font-size: 16px;
    }
    .ryt_contctform.ryt_innerlink {
        margin-top: 30px;
    }
    .left_contct h4, .left_contct h2, .add_post_sction h3 {
        font-size: 20px;
    }
    .post_commt_profl.cmnt_here {
        padding: 20px;
    }
    .post_commt_profl.cmnt_here ul li {
        margin-right: 10px;
    }
    .post_commt_profl.cmnt_here ul li a i {
        margin-right: 5px;
    }
    .profile_post_listng h3{
        font-size:18px;
    }
    .btn_othr_prfol .block_btn {
        width: 120px;
    }
    .haeder_main button.navbar-toggle {
        margin-top: 22px;
    }
    .haeder_main div#myNavbar {
        background-color: #000;
    }
    .haeder_main .btn_othr_prfol {
        margin:20px 0px;
        float: left;
        width: 100%;
    }
    .haeder_main ul.nav.navbar-nav {
        text-align: center;
    }
    .haeder_main .btn_othr_prfol ul li:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .haeder_main .btn_othr_prfol .block_btn {
        width: 100%;
        max-width: 100%;
    }
    .btn_othr_prfol.inner_menu.pull-right {
        width: auto;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .btn_othr_prfol.inner_menu.pull-right ul li:nth-child(1) {
        margin-bottom:0px;
    }
    .sidenav ul li a {
        padding: 14px 30px;
        font-size: 18px;
    }
    .btn_othr_prfol.inner_menu span img {
        width: 30px;
    }
    section.haeder_main.headr_innr {
        max-height: inherit;
    }
    section.filtr_section {
        padding-top:105px;
    }
    section.myprofile_section, section.myprofile_section.news_fed_sctn, section.banner_conctus, section.setting_section, section.fav_sctn_iner{
        padding-top: 200px;
    }
    section.event_detail_section {
        padding-top: 150px;
    }
    section.inner_linkpages {
        padding-top: 200px;
    }
    section.banner_conctus {
        padding-top: 100px;
    }
    .notfctn_sction .bottom-revews_detl h3{
        font-size: 18px;
    }
    .artist_ryt ul li, .artist_ryt ul li:nth-child(3) {
        width: 30%;
    }
    .artist_ryt ul {
        text-align: center;
    }
    .artst_imgs {
        width: 100%;
    }
    section.filtr_section.inner_filtr_pddg {
        padding-top: 170px;
    }
    .img_jpg_upld.pull-left {
        width: 100%;
    }
    section.haeder_main.hedr_index_page .btn_othr_prfol .btn {
        width: 100%;
        line-height: 18px;
        margin: 0 auto;
    }
    section.haeder_main.hedr_index_page .secrh_filed {
        margin-left: 0px;
        width: 100%;
    }
    section.haeder_main.hedr_index_page ul.nav.navbar-nav {
        text-align: center;
        padding: 0px 30px;
    }
	.head_evnt {
		margin: 10px 0px 15px 0px;
	}
	.profile_post_listng>ul>li .ryt_info_detl p {
		word-break: break-word;
	}
	.haeder_main div#myNavbar  ul.nav.navbar-nav a.btn, .haeder_main div#myNavbar  ul.nav.navbar-nav a.btn:hover {
		width: 100%;
		line-height: 20px;
	}
	.haeder_main div#myNavbar ul.nav.navbar-nav {
		max-width: 300px;
		margin: 0 auto;
	}
	.left_innerlink {
		background-size: cover;
	}
}
@media (max-width:600px){
	.head_evnt a {
		font-size: 16px;
	}
	.head_evnt span {
		font-size: 14px;
	}
	.review_popup button.close {
		font-size: 40px;
		right: -30px;
	}
	.sidenav {
		padding-top: 40px;
	}
	.sidenav .closebtn {
		font-size: 30px;
	}
	.sidenav ul li a {
		padding: 12px 30px;
		font-size: 16px;
	}
	.sidenav ul li a img {
		width: 20px;
	}
}
@media (max-width:599px){
	.wrk_section_outer .wrk_sctn_inner {
		width: 100%;
		height: auto;
	}
}
@media (max-width:419px){
    .artist_ryt ul li, .artist_ryt ul li:nth-child(3) {
        width: 100%;
    }
	.flowers_listng ul li h5 {
		font-size: 14px;
	}
	.artst_imgs {
		width: 100%;
		height: auto;
		overflow: auto;
		margin-bottom: 10px;
	}
}
@media (max-width:375px){
	.inner_event_mainimg {
		height: 100px;
	}
	.profile_post_listng h3, .profile_post_listng ul li .ryt_info_detl h3 a {
		font-size: 16px!important;
	}
}
@media (max-width:359px){
    .block_sctn_inner ul li {
        width: 100%;
        margin-right: 0px;
    }
    section.footer_section p, .footer_inner ul li{
        font-size: 14px;
    }
    .footer_inner ul.social_links li a i.fa.fa-facebook, .footer_inner ul.social_links li a i.fa-google-plus, .footer_inner ul.social_links li a i.fa-twitter {
        font-size: 20px;
    }
    .evnt_button ul li a.btn_css {
        font-size: 12px;
    }
    .inner_event_descrption {
        padding: 25px 10px;
    }
    .post_commt_profl.cmnt_here a, .post_commt_profl.cmnt_here ul li span {
        font-size: 14px;
    }   
    .post_commt_profl.cmnt_here ul li a {
        font-size: 18px;
        margin-top: -2px;
    }
    .profile_post_listng h3 {
        font-size: 16px;
    }
}
@media (max-width:349px){
	.user_profile_info .btn_othr_prfol ul li a, .user_profile_info .btn_othr_prfol ul li button {
		max-width: 100px;
	}
}
