@font-face {
    font-family: 'step forward';
    src: url('stepforward.eot');
    src: url('stepforward.eot?#iefix') format('embedded-opentype'),
        url('stepforward.woff2') format('woff2'),
        url('stepforward.woff') format('woff'),
        url('stepforward.ttf') format('truetype'),
        url('stepforward.svg#stepforward') format('svg');
    font-weight: normal;
    font-style: normal;
}

